---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

.looking-for-jobs-tag {
    display: block;
    margin-top: 5px; /* Adjust the margin as needed */
    font-weight: bold;
    color: #3498db; /* Adjust the color as needed */
  }